.DS_Store
bin/
build/
.idea
*.iml
.gradle
captures
.project
.classpath
*.hprof
*.lock
android/build/
android/.gradle
android/.idea
android/*.iml

/server/*.iml
/server/.gradle
/server/.DS_Store
/server//build
/server/.idea/
/server/*.lock